.fullscreen {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  
  &__title {
    position: relative;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 363px 30px 200px;
    color: $default-color;
  }

  &__heading {
    padding-bottom: rem(38);
    font-family: $secondFont;
    font-size: rem(60);
    font-weight: 300;
    line-height: 1.2;
  }

  &__subheading {
    padding-bottom: rem(49);
    font-size: rem(20);
    font-weight: 200;
    line-height: 1.6;
  }
  
  &--face {
    @include bcgrnd("/assets/img/background-1.png",top right);
    overflow: hidden;
  }

  @media screen and (max-width: $desktopWidth) {

    &__title {
      padding-top: 300px;
    }
  }

  @media screen and (max-width: $tableWidth) {

    height: auto;
  }

  @media screen and (max-width: $phoneWidth) {
   
    &--face {
      background-position: 65%;
    }
  }
}