.header {
  width: 100%;
  background-color: #749c8d;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link-wrap {
    display: flex;
    justify-content: flex-end;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    margin-left: 15px;
    border: 2px solid $default-color;
    border-radius: 50%;
    transition: $default-transition;
  }

  &__link:hover {
    border-color: $warning-color;
  }
  
  &__link-vk {
    @extend %icon-vk;
  }
  
  &__link-inst {
    @extend %icon-inst;
  }
  
  &__link-fb {
    @extend %icon-fb;
  }
}