.icon {
  display: flex;
  width: rem(22);
  height: rem(22);
  fill: $default-color;

  & svg {
    width: 100%;
    height: 100%; 
  }

  &--link {
    transition: $default-transition;
  }

  &--link:hover {
    fill: $warning-color;
  }

  &--logo {
    width: rem(26);
    height: rem(26);
  }

  &--facebook {
    width: rem(16);
    height: rem(24);
  }

  &--scroll-next {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    width: 30px;
    height: 26px;
    margin: 0 auto;
  }

  &--animate-top-down {
    animation: top-down 1s ease-in-out infinite;
  }

  &--scroll-top {
    width: 17px;
    height: 17px;
    fill: $primary-color;
  }

  &--share {
    width: 16px;
    height: 16px;
    margin-bottom: 15px;
    fill: $default-color;
  }

  @media screen and (max-width: $tableWidth) {
    
    &--scroll-next {
      top: 88vh;
      bottom: unset;
      left: unset;
      right: 8%;
    }
  }
}