.logo {
  display: flex;
  align-items: center;
  color: $default-color;
  transition: $default-transition;

  &:hover {
    color: $warning-color;
    outline: none;
  }
  
  &__img {
    width: 44px;
    height: 50px;
  }

  &__name {
    margin-left: rem(14);
    font-family: $logoFont;
    font-size: rem(26);
    text-transform: uppercase;
  }
}