.photo {
  position: absolute;
  width: 515px;
  min-height: 200px;

  &__img {
    position: absolute;
    top: 0;
    width: 515px;
    height: 730px;
    background: center / contain no-repeat url(/assets/img/photo-1.png);
  }

  &__corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 157px;
    background: center no-repeat url(/assets/img/corner-3.png);
  }

  &__grid {
    position: absolute;
    top: 170px;
    left: 3px;
    width: 504px;
    height: 504px;
    stroke: $warning-bckgr;
  }

  &__grid svg {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: $smDesktopWidth) {

    width: 400px;

    &__img {
      height: 568px;
      width: 400px;
    }

    &__grid {
      top: 150px;
      left: 14px;
      width: 365px;
      height: 365px;
    }
  }
}