.tile {
  padding: 23px 0 7px;
  background-color: rgba(223, 228, 236, 0.7);
  box-shadow: 0 0 15px rgba(16, 17, 17, 0.4);

  & .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__btn {
    display: block;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
  }

  &__btn--order {
    font-size: rem(24);
    font-weight: bold;
    line-height: 43px;
    letter-spacing: rem(1.35);
    color: $default-color;
    text-transform: uppercase;
    background-color: #3ab16f;
  }
  
  &__btn--more {
    font-size: rem(22);
    font-weight: bold;
    line-height: 40px;
    letter-spacing: rem(1.25);
    color: #b83b11;
    border: 2px solid #e96c41;
  }
  
  &__btn--warn {
    font-family: $linkFont;
    font-size: rem(17);
    color: #ab310c;
    text-align: right;
    text-decoration: underline dashed;
    background-color: transparent;
  }
  
  &__price {
    padding: 9px 25px;
    font-family: $priceFont;
    text-align: left;
  }
  
  &__price--crossed {
    font-size: rem(30);
    line-height: rem(24);
    color: #575757;
    text-decoration: line-through;
  }

  &__price--big {
    padding-top: 3px;
    font-size: rem(37);
    line-height: rem(29);
    color: #d8481c;
  }

  &__text {
    font-size: rem(26);
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
  }

  &__text--warn {
    padding-top: 15px;
    font-weight: bold;
    text-decoration: underline;
  }

  &__text--green {
    padding-top: 25px;
    padding-right: 20px;
    font-size: rem(20);
    color: #004734;
    text-transform: none;
  }
}